* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* bg__color */
body {
  background-color: lightblue;
}


.topic {
  color: white;
  text-align: center;
  margin-top: 1.5rem;
}

.ref {
  font-size: 1.5rem;
  margin: 2rem 1.5rem;
  color: black;
}

i h1 {
  margin: 2rem 1.5rem;
  color: black;
}

div p {
  font-size: 1.5rem;
  margin: 2rem 1.5rem;
  color: brown;
}

#id__selector {
  font-size: 1.5rem;
  margin: 2rem 1.5rem;
  color: blue;
}

.class__selector {
  font-size: 1.5rem;
  margin: 2rem 1.5rem;
  color: red;
}

