* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

nav {
  background-color: black;
  padding: 30px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
}

a {
  padding: 30px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
}

div {
  color: white;
  float: left;
}
