.prefix {
  margin-left: 29%;
}
.name {
  margin-left: 29%;
}
.pronouns {
  margin-left: 29%;
}
.email {
  margin-left: 29%;
}
.workphone {
  margin-left: 29%;
}
.cellphone {
  margin-left: 29%;
}
.jobtitle {
  margin-left: 29%;
}
.company {
  margin-left: 29%;
}
.business {
  margin-left: 29%;
}
.website {
  margin-left: 29%;
}
